In [78]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

elo = pd.read_csv("../Data/nfl_elo_latest.csv", header = 0)
elo

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,2021-09-09,2021,0,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,...,397.401725,223.782352,248.082791,1639.815956,1500.264612,31,29,85,48,67
1,2021-09-12,2021,0,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,...,246.652318,113.888998,192.992819,1500.541394,1580.083300,16,28,63,73,68
2,2021-09-12,2021,0,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,...,302.017311,190.370826,225.696909,1489.651053,1528.361042,13,38,56,59,58
3,2021-09-12,2021,0,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,...,175.216924,171.513676,132.495404,1355.200609,1562.414869,33,41,23,45,34
4,2021-09-12,2021,0,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,...,382.369867,162.493070,145.813648,1418.481268,1475.793058,6,32,21,57,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2022-01-23,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96,100,98
281,2022-01-23,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,434.101420,308.598809,291.477231,1700.324756,1644.036577,42,36,100,100,100
282,2022-01-30,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,153.972640,291.207245,186.971396,1674.943733,1585.098917,24,27,98,100,99
283,2022-01-30,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96,100,98
284,2022-02-13,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,...,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95,100,98

In [79]:
elo.describe()

,season,neutral,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,qbelo1_pre,qbelo2_pre,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
count,285.0,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,...,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000
mean,2021.0,0.014035,1512.781981,1506.259514,0.588295,0.411705,1509.698586,1509.342909,1510.557602,1503.928535,...,141.019644,161.945726,155.128742,1507.443841,1507.042297,24.000000,22.066667,47.042105,51.273684,49.392982
std,0.0,0.117842,102.943359,99.715052,0.175041,0.175041,103.938534,102.043930,96.144110,92.816878,...,141.864079,58.679198,61.627438,96.789849,95.928418,10.628489,9.933535,29.670936,32.517744,28.342099
min,2021.0,0.000000,1217.456406,1222.225724,0.125892,0.076822,1233.393097,1217.456406,1227.834387,1232.846190,...,-293.851943,11.625346,-4.891621,1244.823574,1227.834387,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.0,0.000000,1449.776796,1439.247800,0.473054,0.286213,1445.440885,1442.664873,1456.191259,1447.401293,...,52.110632,118.434721,118.167301,1456.923519,1441.988000,17.000000,15.000000,20.000000,19.000000,23.000000
50%,2021.0,0.000000,1517.382630,1510.121217,0.599028,0.400972,1514.681059,1515.725552,1520.037969,1511.947150,...,143.167774,154.340639,150.330343,1513.549894,1517.162849,23.000000,22.000000,49.000000,55.000000,51.000000
75%,2021.0,0.000000,1591.774614,1584.720013,0.713787,0.526946,1589.142234,1584.495154,1580.923723,1579.008961,...,226.132347,209.270900,200.283690,1580.203098,1580.112822,31.000000,30.000000,72.000000,79.000000,72.000000
max,2021.0,1.000000,1713.932369,1698.633239,0.923178,0.874108,1713.932369,1690.422283,1700.324756,1690.287674,...,492.760887,308.598809,291.477231,1700.324756,1679.791590,56.000000,51.000000,100.000000,100.000000,100.000000

In [80]:
elo[elo['qb2_game_value'] <= -200].qb2

38     Justin Fields
53       Davis Mills
248     Mike Glennon
Name: qb2, dtype: object

In [81]:
elo[elo['qb2_game_value'] <= -200].qb2_game_value

38    -293.851943
53    -219.034447
248   -211.148288
Name: qb2_game_value, dtype: float64

In [82]:
elo.iloc[[38]]

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
38,2021-09-26,2021,0,NaN,CLE,CHI,1537.650482,1487.435642,0.659986,0.340014,...,-293.851943,164.743404,68.145448,1573.989219,1448.691827,26,6,49,46,48

In [83]:
elo.shape

(285, 33)

In [84]:
elo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            285 non-null    object
 1   season          285 non-null    int64
 2   neutral         285 non-null    int64
 3   playoff         13 non-null     object
 4   team1           285 non-null    object
 5   team2           285 non-null    object
 6   elo1_pre        285 non-null    float64
 7   elo2_pre        285 non-null    float64
 8   elo_prob1       285 non-null    float64
 9   elo_prob2       285 non-null    float64
 10  elo1_post       285 non-null    float64
 11  elo2_post       285 non-null    float64
 12  qbelo1_pre      285 non-null    float64
 13  qbelo2_pre      285 non-null    float64
 14  qb1             285 non-null    object
 15  qb2             285 non-null    object
 16  qb1_value_pre   285 non-null    float64
 17  qb2_value_pre   285 non-null    float64
 18  qb1_adj         285 non-null    float64
 19  qb2_adj         285 non-null    float64
 20  qbelo_prob1     285 non-null    float64
 21  qbelo_prob2     285 non-null    float64
 22  qb1_game_value  285 non-null    float64
 23  qb2_game_value  285 non-null    float64
 24  qb1_value_post  285 non-null    float64
 25  qb2_value_post  285 non-null    float64
 26  qbelo1_post     285 non-null    float64
 27  qbelo2_post     285 non-null    float64
 28  score1          285 non-null    int64
 29  score2          285 non-null    int64
 30  quality         285 non-null    int64
 31  importance      285 non-null    int64
 32  total_rating    285 non-null    int64
dtypes: float64(20), int64(7), object(6)
memory usage: 73.6+ KB

In [85]:
elo.tail(30)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
255,2022-01-03,2021,0,NaN,PIT,CLE,1484.761118,1504.067601,0.565382,0.434618,...,-182.185193,129.047001,66.023178,1498.889103,1494.334164,26,14,34,3,19
256,2022-01-08,2021,0,NaN,DEN,KC,1425.656111,1680.137599,0.251478,0.748522,...,315.108496,132.277806,249.848948,1431.914699,1679.791590,24,28,72,22,47
257,2022-01-08,2021,0,NaN,PHI,DAL,1548.107020,1580.481822,0.546814,0.453186,...,397.923326,145.090873,224.027153,1498.759294,1627.204250,26,51,76,2,39
258,2022-01-09,2021,0,NaN,HOU,TEN,1369.505649,1593.513560,0.285912,0.714088,...,324.919214,124.792049,156.165151,1378.884992,1599.410337,25,28,22,100,61
259,2022-01-09,2021,0,NaN,MIN,CHI,1502.005003,1430.207928,0.687287,0.312713,...,21.144813,191.173774,87.916539,1513.476030,1407.507585,31,17,26,0,13
260,2022-01-09,2021,0,NaN,CLE,CIN,1482.225774,1554.150275,0.490036,0.509964,...,3.353485,124.973657,38.776229,1503.500018,1530.548580,21,16,25,2,14
261,2022-01-09,2021,0,NaN,JAX,IND,1217.456406,1619.083568,0.125892,0.874108,...,-82.917714,88.465074,111.289473,1284.443029,1543.184295,26,11,3,61,32
262,2022-01-09,2021,0,NaN,BAL,PIT,1528.974319,1506.602945,0.623152,0.376848,...,127.022586,46.350792,128.844559,1535.273513,1512.597983,13,16,20,15,18
263,2022-01-09,2021,0,NaN,NYG,WSH,1354.084416,1417.567935,0.502182,0.497818,...,-39.704895,11.625346,71.088472,1345.258289,1489.888279,7,22,2,0,1
264,2022-01-09,2021,0,NaN,DET,GB,1315.123093,1692.419962,0.142128,0.857872,...,113.312705,152.742124,254.855602,1318.922234,1658.367116,37,30,38,1,20
265,2022-01-09,2021,0,NaN,BUF,NYJ,1661.180281,1298.783942,0.921311,0.078689,...,-108.863247,237.856489,54.510378,1637.605850,1304.803481,27,10,20,18,19
266,2022-01-09,2021,0,NaN,ARI,SEA,1546.278158,1508.287397,0.644022,0.355978,...,227.801394,222.204809,164.086153,1514.940528,1526.225772,30,38,61,41,51
267,2022-01-09,2021,0,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,...,142.511404,169.067416,140.972144,1597.459409,1580.112822,24,27,86,100,93
268,2022-01-09,2021,0,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,...,156.225506,130.904079,133.263355,1546.397530,1568.228525,33,24,75,6,41
269,2022-01-09,2021,0,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,...,174.037538,254.971182,66.767113,1639.622429,1356.555640,41,17,34,1,18
270,2022-01-09,2021,0,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,...,82.938797,118.434721,88.802173,1397.080391,1578.642541,20,30,25,95,60
271,2022-01-09,2021,0,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,...,148.202946,153.616803,234.431686,1494.931787,1498.945891,35,32,49,100,75
272,2022-01-15,2021,0,w,CIN,OAK,1535.817923,1501.289545,0.639439,0.360561,...,81.916789,210.748474,146.446802,1540.510657,1484.969710,26,19,61,100,81
273,2022-01-15,2021,0,w,BUF,NE,1664.989151,1571.347688,0.713657,0.286343,...,167.806207,275.630099,136.717640,1656.910634,1548.923741,47,17,90,100,95
274,2022-01-16,2021,0,w,TB,PHI,1670.677134,1511.939214,0.783798,0.216202,...,74.221952,249.882409,155.957975,1649.547292,1488.834431,31,15,83,100,92
275,2022-01-16,2021,0,w,DAL,SF,1616.649628,1575.742486,0.647861,0.352139,...,109.713720,210.211510,137.846302,1598.522986,1608.794086,17,23,91,100,96
276,2022-01-16,2021,0,w,KC,PIT,1687.590474,1524.594936,0.787922,0.212078,...,153.731715,273.771767,131.333275,1687.450699,1504.938873,42,21,85,100,93
277,2022-01-17,2021,0,w,LAR,ARI,1615.789160,1516.586992,0.720154,0.279846,...,-42.847876,179.870436,195.699541,1615.165080,1497.234857,34,11,76,100,88
278,2022-01-22,2021,0,d,TEN,CIN,1600.906392,1550.164193,0.660666,0.339334,...,9.642981,141.529360,190.637925,1580.203098,1559.717895,16,19,85,100,93
279,2022-01-22,2021,0,d,GB,SF,1650.839616,1602.231233,0.657907,0.342093,...,-66.627709,248.114679,117.398901,1635.529183,1631.632019,10,13,97,100,99
280,2022-01-23,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96,100,98
281,2022-01-23,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,434.101420,308.598809,291.477231,1700.324756,1644.036577,42,36,100,100,100
282,2022-01-30,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,153.972640,291.207245,186.971396,1674.943733,1585.098917,24,27,98,100,99
283,2022-01-30,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96,100,98
284,2022-02-13,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,...,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95,100,98

In [86]:
elo['Winner'] = (
    np.where(
        elo['score1'] > elo['score2'], 
        1, 
        np.where(elo['score1'] < elo['score2'], 0, 0)
    )
)
elo.tail(20)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating,Winner
265,2022-01-09,2021,0,NaN,BUF,NYJ,1661.180281,1298.783942,0.921311,0.078689,...,237.856489,54.510378,1637.605850,1304.803481,27,10,20,18,19,1
266,2022-01-09,2021,0,NaN,ARI,SEA,1546.278158,1508.287397,0.644022,0.355978,...,222.204809,164.086153,1514.940528,1526.225772,30,38,61,41,51,0
267,2022-01-09,2021,0,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,...,169.067416,140.972144,1597.459409,1580.112822,24,27,86,100,93,0
268,2022-01-09,2021,0,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,...,130.904079,133.263355,1546.397530,1568.228525,33,24,75,6,41,1
269,2022-01-09,2021,0,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,...,254.971182,66.767113,1639.622429,1356.555640,41,17,34,1,18,1
270,2022-01-09,2021,0,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,...,118.434721,88.802173,1397.080391,1578.642541,20,30,25,95,60,0
271,2022-01-09,2021,0,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,...,153.616803,234.431686,1494.931787,1498.945891,35,32,49,100,75,1
272,2022-01-15,2021,0,w,CIN,OAK,1535.817923,1501.289545,0.639439,0.360561,...,210.748474,146.446802,1540.510657,1484.969710,26,19,61,100,81,1
273,2022-01-15,2021,0,w,BUF,NE,1664.989151,1571.347688,0.713657,0.286343,...,275.630099,136.717640,1656.910634,1548.923741,47,17,90,100,95,1
274,2022-01-16,2021,0,w,TB,PHI,1670.677134,1511.939214,0.783798,0.216202,...,249.882409,155.957975,1649.547292,1488.834431,31,15,83,100,92,1
275,2022-01-16,2021,0,w,DAL,SF,1616.649628,1575.742486,0.647861,0.352139,...,210.211510,137.846302,1598.522986,1608.794086,17,23,91,100,96,0
276,2022-01-16,2021,0,w,KC,PIT,1687.590474,1524.594936,0.787922,0.212078,...,273.771767,131.333275,1687.450699,1504.938873,42,21,85,100,93,1
277,2022-01-17,2021,0,w,LAR,ARI,1615.789160,1516.586992,0.720154,0.279846,...,179.870436,195.699541,1615.165080,1497.234857,34,11,76,100,88,1
278,2022-01-22,2021,0,d,TEN,CIN,1600.906392,1550.164193,0.660666,0.339334,...,141.529360,190.637925,1580.203098,1559.717895,16,19,85,100,93,0
279,2022-01-22,2021,0,d,GB,SF,1650.839616,1602.231233,0.657907,0.342093,...,248.114679,117.398901,1635.529183,1631.632019,10,13,97,100,99,0
280,2022-01-23,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,238.112249,199.786107,1629.446888,1635.265484,27,30,96,100,98,0
281,2022-01-23,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,308.598809,291.477231,1700.324756,1644.036577,42,36,100,100,100,1
282,2022-01-30,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,291.207245,186.971396,1674.943733,1585.098917,24,27,98,100,99,0
283,2022-01-30,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,204.657956,125.373817,1644.929010,1621.968494,20,17,96,100,98,1
284,2022-02-13,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,...,176.868952,200.283690,1576.868287,1653.159640,20,23,95,100,98,0

In [87]:
elo['Winner'].value_counts()

1    147
0    138
Name: Winner, dtype: int64

In [88]:
reg_season_mask = elo['playoff'].isnull()
elo[reg_season_mask].Winner.value_counts()

1    140
0    132
Name: Winner, dtype: int64

In [89]:
elo[reg_season_mask]

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating,Winner
0,2021-09-09,2021,0,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,...,223.782352,248.082791,1639.815956,1500.264612,31,29,85,48,67,1
1,2021-09-12,2021,0,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,...,113.888998,192.992819,1500.541394,1580.083300,16,28,63,73,68,0
2,2021-09-12,2021,0,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,...,190.370826,225.696909,1489.651053,1528.361042,13,38,56,59,58,0
3,2021-09-12,2021,0,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,...,171.513676,132.495404,1355.200609,1562.414869,33,41,23,45,34,0
4,2021-09-12,2021,0,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,...,162.493070,145.813648,1418.481268,1475.793058,6,32,21,57,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,0,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,...,169.067416,140.972144,1597.459409,1580.112822,24,27,86,100,93,0
268,2022-01-09,2021,0,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,...,130.904079,133.263355,1546.397530,1568.228525,33,24,75,6,41,1
269,2022-01-09,2021,0,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,...,254.971182,66.767113,1639.622429,1356.555640,41,17,34,1,18,1
270,2022-01-09,2021,0,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,...,118.434721,88.802173,1397.080391,1578.642541,20,30,25,95,60,0
271,2022-01-09,2021,0,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,...,153.616803,234.431686,1494.931787,1498.945891,35,32,49,100,75,1

In [90]:
reg_season_mask = elo['playoff'].isnull()
elo_2021 = elo[reg_season_mask]
elo_2021 = elo_2021.drop(['quality', 'importance', 'total_rating', 'neutral'], axis = 1)
elo_2021

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Winner
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,0.263910,317.128566,397.401725,223.782352,248.082791,1639.815956,1500.264612,31,29,1
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,0.477755,216.666972,246.652318,113.888998,192.992819,1500.541394,1580.083300,16,28,0
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,0.342829,33.684565,302.017311,190.370826,225.696909,1489.651053,1528.361042,13,38,0
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,0.656573,269.384920,175.216924,171.513676,132.495404,1355.200609,1562.414869,33,41,0
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,0.364745,17.562049,382.369867,162.493070,145.813648,1418.481268,1475.793058,6,32,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,0.344404,54.994140,142.511404,169.067416,140.972144,1597.459409,1580.112822,24,27,0
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,0.520309,207.911888,156.225506,130.904079,133.263355,1546.397530,1568.228525,33,24,1
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,0.110046,380.686593,174.037538,254.971182,66.767113,1639.622429,1356.555640,41,17,1
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,0.594410,84.406741,82.938797,118.434721,88.802173,1397.080391,1578.642541,20,30,0
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,0.510503,71.848158,148.202946,153.616803,234.431686,1494.931787,1498.945891,35,32,1

In [91]:
elo_2021['Elo-difference'] = elo_2021['elo1_pre'] - elo_2021['elo2_pre'] 
elo_2021['QB_Elo-difference'] = elo_2021['qb1_value_pre'] - elo_2021['qb2_value_pre'] 
elo_2021

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Winner,Elo-difference,QB_Elo-difference
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,397.401725,223.782352,248.082791,1639.815956,1500.264612,31,29,1,203.811694,-18.081249
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,246.652318,113.888998,192.992819,1500.541394,1580.083300,16,28,0,-4.261051,-84.561430
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,302.017311,190.370826,225.696909,1489.651053,1528.361042,13,38,0,66.960262,-9.436454
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,175.216924,171.513676,132.495404,1355.200609,1562.414869,33,41,0,-100.020702,32.890525
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,382.369867,162.493070,145.813648,1418.481268,1475.793058,6,32,0,58.027645,59.066894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,142.511404,169.067416,140.972144,1597.459409,1580.112822,24,27,0,81.590858,40.941109
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,156.225506,130.904079,133.263355,1546.397530,1568.228525,33,24,1,-59.014006,-8.364348
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,174.037538,254.971182,66.767113,1639.622429,1356.555640,41,17,1,293.607937,186.154625
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,82.938797,118.434721,88.802173,1397.080391,1578.642541,20,30,0,-121.494378,32.761948
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,148.202946,153.616803,234.431686,1494.931787,1498.945891,35,32,1,-28.519845,-81.310450

In [92]:
elo_2021['Game_id'] = elo_2021['team1'] + elo_2021['team2']
def sorter(ht):
    words = []
    for s in ht:
        words.append(s)
    words.sort()
    words = ''.join(words)
    return words
elo_2021['Game_id'] = elo_2021['Game_id'].apply(lambda x:sorter(x))
elo_2021['Game_id'] = elo_2021.groupby('Game_id').Game_id.apply(lambda n: n + (np.arange(len(n))+1).astype(str))
elo_2021

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Winner,Elo-difference,QB_Elo-difference,Game_id
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,223.782352,248.082791,1639.815956,1500.264612,31,29,1,203.811694,-18.081249,ABDLT1
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,113.888998,192.992819,1500.541394,1580.083300,16,28,0,-4.261051,-84.561430,ADEINS1
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,190.370826,225.696909,1489.651053,1528.361042,13,38,0,66.960262,-9.436454,AEINRT1
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,171.513676,132.495404,1355.200609,1562.414869,33,41,0,-100.020702,32.890525,DEFST1
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,162.493070,145.813648,1418.481268,1475.793058,6,32,0,58.027645,59.066894,AHILPT1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,169.067416,140.972144,1597.459409,1580.112822,24,27,0,81.590858,40.941109,AFLRS2
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,130.904079,133.263355,1546.397530,1568.228525,33,24,1,-59.014006,-8.364348,AEIMN2
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,254.971182,66.767113,1639.622429,1356.555640,41,17,1,293.607937,186.154625,ABCRT2
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,118.434721,88.802173,1397.080391,1578.642541,20,30,0,-121.494378,32.761948,ALNOT2
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,153.616803,234.431686,1494.931787,1498.945891,35,32,1,-28.519845,-81.310450,AACKLO2

In [93]:
stats = pd.read_csv('../DF/nflstats_2021.csv', header = 0)
stats

,Unnamed: 0,team1,team2,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf,Game_id
0,0,DAL,TB,82,9,0,0,0,1,0,0,ABDLT1
1,1,PHI,ATL,72,0,0,0,1,0,0,0,AHILPT1
2,2,PIT,BUF,73,17,0,1,0,0,0,0,BFIPTU1
3,3,CAR,NYJ,81,0,1,0,0,1,0,0,ACJNRY1
4,4,MIN,CIN,81,15,0,0,1,0,0,0,CIIMNN1
...,...,...,...,...,...,...,...,...,...,...,...,...
267,267,NYG,WSH,38,0,1,0,1,0,0,0,GHNSWY2
268,268,LAC,OAK,72,0,0,0,0,1,0,0,AACKLO2
269,269,LAR,SF,72,0,1,0,0,0,1,0,AFLRS2
270,270,PIT,BAL,36,0,0,0,0,1,0,0,ABILPT2
271,271,TB,CAR,80,4,1,0,0,1,0,0,ABCRT2

In [94]:
elo_2021 = pd.merge(elo_2021, stats, on="Game_id", how="left")
elo_2021

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,team1_y,team2_y,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,DAL,TB,82,9,0,0,0,1,0,0
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,SEA,IND,72,0,0,0,1,0,0,0
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,ARI,TEN,82,8,0,0,0,1,0,0
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,SF,DET,72,0,0,0,1,0,0,0
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,PHI,ATL,72,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,LAR,SF,72,0,1,0,0,0,1,0
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,MIA,NE,75,8,1,0,0,1,0,0
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,TB,CAR,80,4,1,0,0,1,0,0
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,ATL,NO,72,0,1,0,1,0,0,0
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,LAC,OAK,72,0,0,0,0,1,0,0

In [95]:
elo_2021 = elo_2021.drop(['Unnamed: 0', 'team1_y', 'team2_y'], axis = 1)
elo_2021

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,QB_Elo-difference,Game_id,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,-18.081249,ABDLT1,82,9,0,0,0,1,0,0
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,-84.561430,ADEINS1,72,0,0,0,1,0,0,0
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,-9.436454,AEINRT1,82,8,0,0,0,1,0,0
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,32.890525,DEFST1,72,0,0,0,1,0,0,0
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,59.066894,AHILPT1,72,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,40.941109,AFLRS2,72,0,1,0,0,0,1,0
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,-8.364348,AEIMN2,75,8,1,0,0,1,0,0
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,186.154625,ABCRT2,80,4,1,0,0,1,0,0
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,32.761948,ALNOT2,72,0,1,0,1,0,0,0
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,-81.310450,AACKLO2,72,0,0,0,0,1,0,0

In [97]:
elo_2021.to_csv('../DF/elo_2021.csv')