In [514]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

main_df = pd.read_csv("../Data/nfl_pass_rush_receive_raw_data.csv", header = 0)
main_df.drop(['player_id', 'Vegas_Line', 'Vegas_Favorite', 'Over_Under'], inplace=True, axis=1)
main_df

,game_id,pos,player,team,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,...,home_team,vis_score,home_score,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,game_date
0,201909050chi,QB,Aaron Rodgers,GNB,18,30,203,1,0,5,...,CHI,10,3,False,outdoors,grass,65,69,10,2019-09-05
1,201909050chi,RB,Aaron Jones,GNB,0,0,0,0,0,0,...,CHI,10,3,False,outdoors,grass,65,69,10,2019-09-05
2,201909050chi,WR,Marquez Valdes-Scantling,GNB,0,0,0,0,0,0,...,CHI,10,3,False,outdoors,grass,65,69,10,2019-09-05
3,201909050chi,WR,Davante Adams,GNB,0,0,0,0,0,0,...,CHI,10,3,False,outdoors,grass,65,69,10,2019-09-05
4,201909050chi,TE,Jimmy Graham,GNB,0,0,0,0,0,0,...,CHI,10,3,False,outdoors,grass,65,69,10,2019-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19968,202202130cin,WR,Brandon Powell,LAR,0,0,0,0,0,0,...,CIN,23,20,False,dome,matrixturf,72,45,0,2022-02-13
19969,202202130cin,RB,Buddy Howell,LAR,0,0,0,0,0,0,...,CIN,23,20,False,dome,matrixturf,72,45,0,2022-02-13
19970,202202130cin,TE,Drew Sample,CIN,0,0,0,0,0,0,...,CIN,23,20,False,dome,matrixturf,72,45,0,2022-02-13
19971,202202130cin,WR,Trent Taylor,CIN,0,0,0,0,0,0,...,CIN,23,20,False,dome,matrixturf,72,45,0,2022-02-13
19972,202202130cin,TE,Mitchell Wilcox,CIN,0,0,0,0,0,0,...,CIN,23,20,False,dome,matrixturf,72,45,0,2022-02-13

In [515]:
main_df['game_date'] = pd.to_datetime(main_df.game_date)
start_21 = '9/9/2021'
end_21 = '1/9/2022'
mask = (main_df['game_date'] >= start_21) & (main_df['game_date'] <= end_21)
df_2021 = main_df.loc[mask]

In [556]:
start_20 = '9/10/2020'
end_20 = '1/3/2021'
mask = (main_df['game_date'] >= start_20) & (main_df['game_date'] <= end_20)
df_2020 = main_df.loc[mask]
df_2020

,game_id,pos,player,team,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,...,home_team,vis_score,home_score,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,game_date
6330,202009100kan,QB,Deshaun Watson,HOU,20,32,253,1,1,4,...,KAN,20,34,False,outdoors,astroturf,56,95,7,2020-09-10
6331,202009100kan,RB,David Johnson,HOU,0,0,0,0,0,0,...,KAN,20,34,False,outdoors,astroturf,56,95,7,2020-09-10
6332,202009100kan,RB,Duke Johnson,HOU,0,0,0,0,0,0,...,KAN,20,34,False,outdoors,astroturf,56,95,7,2020-09-10
6333,202009100kan,WR,Will Fuller,HOU,0,0,0,0,0,0,...,KAN,20,34,False,outdoors,astroturf,56,95,7,2020-09-10
6334,202009100kan,TE,Jordan Akins,HOU,0,0,0,0,0,0,...,KAN,20,34,False,outdoors,astroturf,56,95,7,2020-09-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12645,202101030tam,TE,Antony Auclair,TAM,0,0,0,0,0,0,...,TAM,27,44,False,outdoors,grass,65,77,4,2021-01-03
12646,202101030tam,WR,Jaydon Mickens,TAM,0,0,0,0,0,0,...,TAM,27,44,False,outdoors,grass,65,77,4,2021-01-03
12647,202101030tam,RB,Ke'Shawn Vaughn,TAM,0,0,0,0,0,0,...,TAM,27,44,False,outdoors,grass,65,77,4,2021-01-03
12648,202101030tam,TE,Cameron Brate,TAM,0,0,0,0,0,0,...,TAM,27,44,False,outdoors,grass,65,77,4,2021-01-03
12649,202101030tam,WR,Scott Miller,TAM,0,0,0,0,0,0,...,TAM,27,44,False,outdoors,grass,65,77,4,2021-01-03

In [517]:
len(df_2021)

6712

In [518]:
df_2021.Surface.unique()

array(['grass ', 'fieldturf', 'a_turf', 'fieldturf ', 'astroturf',
       'matrixturf', 'grass', 'sportturf'], dtype=object)

In [519]:
df_2021.Surface = df_2021.Surface.replace(['grass ', 'fieldturf ', 'a_turf'], ['grass', 'fieldturf', 'astroturf'])
df_2021.Surface.unique()

/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76274/3504698733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.Surface = df_2021.Surface.replace(['grass ', 'fieldturf ', 'a_turf'], ['grass', 'fieldturf', 'astroturf'])

array(['grass', 'fieldturf', 'astroturf', 'matrixturf', 'sportturf'],
      dtype=object)

In [520]:
df_2021['Home_A'] = (
    np.where(
    df_2021['team'] == df_2021['home_team'], 1,
       0)
)
df_2021

/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76274/3414281322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['Home_A'] = (

,game_id,pos,player,team,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,...,vis_score,home_score,OT,Roof,Surface,Temperature,Humidity,Wind_Speed,game_date,Home_A
12960,202109090tam,QB,Dak Prescott,DAL,42,58,403,3,1,1,...,29,31,False,outdoors,grass,82,85,9,2021-09-09,0
12961,202109090tam,RB,Ezekiel Elliott,DAL,0,0,0,0,0,0,...,29,31,False,outdoors,grass,82,85,9,2021-09-09,0
12962,202109090tam,RB,Tony Pollard,DAL,0,0,0,0,0,0,...,29,31,False,outdoors,grass,82,85,9,2021-09-09,0
12963,202109090tam,WR,Amari Cooper,DAL,0,0,0,0,0,0,...,29,31,False,outdoors,grass,82,85,9,2021-09-09,0
12964,202109090tam,WR,CeeDee Lamb,DAL,0,0,0,0,0,0,...,29,31,False,outdoors,grass,82,85,9,2021-09-09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19667,202201090tam,TE,Ian Thomas,CAR,0,0,0,0,0,0,...,17,41,False,outdoors,grass,80,99,4,2022-01-09,0
19668,202201090tam,TE,Stephen Sullivan,CAR,0,0,0,0,0,0,...,17,41,False,outdoors,grass,80,99,4,2022-01-09,0
19669,202201090tam,WR,Cyril Grayson,TAM,0,0,0,0,0,0,...,17,41,False,outdoors,grass,80,99,4,2022-01-09,1
19670,202201090tam,TE,O.J. Howard,TAM,0,0,0,0,0,0,...,17,41,False,outdoors,grass,80,99,4,2022-01-09,1
19671,202201090tam,TE,Darren Fells,TAM,0,0,0,0,0,0,...,17,41,False,outdoors,grass,80,99,4,2022-01-09,1

In [521]:
temps_2020 = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    temps_2020.append(int(masked_df.iloc[[0]].Temperature))
print(temps_2020)

[56, 72, 67, 81, 83, 72, 80, 72, 72, 70, 72, 76, 72, 76, 79, 71, 65, 66, 72, 72, 72, 66, 72, 90, 61, 72, 62, 64, 72, 70, 85, 72, 81, 72, 79, 73, 72, 72, 55, 72, 72, 73, 75, 76, 79, 72, 63, 73, 64, 68, 52, 64, 72, 72, 72, 86, 72, 72, 72, 75, 65, 53, 73, 57, 72, 64, 72, 72, 80, 64, 70, 69, 54, 72, 69, 72, 73, 63, 72, 78, 85, 72, 58, 62, 61, 61, 61, 86, 88, 51, 72, 70, 72, 48, 72, 14, 72, 72, 49, 52, 55, 72, 72, 46, 72, 76, 41, 40, 48, 49, 64, 72, 34, 52, 86, 49, 52, 55, 39, 78, 72, 69, 72, 72, 72, 79, 71, 72, 77, 72, 77, 75, 61, 56, 65, 59, 72, 72, 38, 83, 72, 52, 56, 52, 72, 72, 44, 48, 65, 38, 72, 45, 72, 72, 72, 72, 72, 53, 72, 57, 69, 72, 72, 72, 48, 52, 72, 38, 37, 70, 72, 52, 54, 72, 81, 60, 36, 72, 35, 72, 34, 72, 41, 81, 72, 39, 52, 72, 51, 34, 72, 38, 72, 35, 70, 34, 44, 72, 69, 81, 59, 57, 72, 72, 43, 72, 78, 34, 72, 47, 33, 72, 72, 72, 72, 79, 72, 72, 36, 46, 72, 39, 43, 43, 72, 72, 72, 72, 72, 28, 72, 55, 49, 37, 37, 38, 72, 45, 41, 41, 35, 57, 32, 39, 38, 72, 53, 72, 72, 35, 33, 33, 38, 72, 72, 65]

In [522]:
winds_2020 = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    winds_2020.append(int(masked_df.iloc[[0]].Wind_Speed))
print(len(winds_2020))

256

In [523]:
home_tem2020 = []
home_team2020 = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    home_tem2020.append(str(masked_df.iloc[[0]].home_team))
for s in home_tem2020:
    t = s.split('\n')[0]
    res = [''.join(g) for _, g in groupby(t, str.isalpha)]
    home_team2020.append(res[1])
print(home_team2020)

['KAN', 'ATL', 'BUF', 'CAR', 'CIN', 'DET', 'JAX', 'MIN', 'NOR', 'NWE', 'LAR', 'BAL', 'SFO', 'WAS', 'DEN', 'NYG', 'CLE', 'CHI', 'IND', 'ARI', 'DAL', 'GNB', 'HOU', 'MIA', 'NYJ', 'TEN', 'PHI', 'PIT', 'LAC', 'SEA', 'TAM', 'LVR', 'JAX', 'ATL', 'BUF', 'CLE', 'IND', 'ARI', 'DEN', 'MIN', 'NOR', 'NWE', 'NYG', 'PHI', 'PIT', 'LAC', 'SEA', 'BAL', 'NYJ', 'CAR', 'CHI', 'CIN', 'DAL', 'DET', 'HOU', 'MIA', 'LVR', 'LAR', 'SFO', 'TAM', 'WAS', 'GNB', 'KAN', 'CHI', 'ATL', 'CLE', 'DAL', 'HOU', 'KAN', 'NYJ', 'PIT', 'BAL', 'SEA', 'SFO', 'WAS', 'NOR', 'TEN', 'CAR', 'IND', 'JAX', 'MIA', 'MIN', 'NWE', 'NYG', 'TEN', 'PHI', 'PIT', 'SFO', 'TAM', 'BUF', 'DAL', 'PHI', 'ATL', 'CIN', 'ARI', 'DEN', 'HOU', 'NOR', 'NWE', 'NYJ', 'TEN', 'LVR', 'LAC', 'WAS', 'LAR', 'CAR', 'BUF', 'CHI', 'CIN', 'CLE', 'DEN', 'DET', 'GNB', 'KAN', 'MIA', 'PHI', 'BAL', 'SEA', 'NYG', 'SFO', 'ATL', 'BUF', 'IND', 'ARI', 'DAL', 'JAX', 'KAN', 'MIN', 'TEN', 'LAC', 'TAM', 'WAS', 'NYJ', 'TEN', 'CAR', 'CLE', 'ARI', 'DET', 'GNB', 'MIA', 'NOR', 'NWE', 'NYG', 'PIT', 'LVR', 'LAR', 'CHI', 'SEA', 'CAR', 'CLE', 'IND', 'DEN', 'HOU', 'JAX', 'MIN', 'NOR', 'LVR', 'BAL', 'LAC', 'WAS', 'TAM', 'DAL', 'DET', 'ATL', 'BUF', 'CIN', 'IND', 'DEN', 'GNB', 'JAX', 'MIN', 'NWE', 'NYJ', 'LAR', 'TAM', 'PHI', 'PIT', 'ATL', 'CHI', 'ARI', 'GNB', 'HOU', 'KAN', 'MIA', 'MIN', 'NYJ', 'TEN', 'LAC', 'SEA', 'PIT', 'SFO', 'BAL', 'LAR', 'BUF', 'CAR', 'CHI', 'CIN', 'DET', 'JAX', 'MIA', 'NYG', 'PHI', 'LVR', 'LAC', 'SEA', 'SFO', 'TAM', 'CLE', 'LVR', 'DEN', 'GNB', 'ATL', 'IND', 'ARI', 'DAL', 'MIA', 'MIN', 'NOR', 'NYG', 'TEN', 'LAR', 'BAL', 'WAS', 'CIN', 'NOR', 'ARI', 'DET', 'LVR', 'DAL', 'GNB', 'HOU', 'JAX', 'KAN', 'NYJ', 'PIT', 'BAL', 'LAC', 'SEA', 'WAS', 'NWE', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'IND', 'DEN', 'DET', 'HOU', 'KAN', 'NWE', 'NYG', 'PHI', 'LAR', 'SFO', 'TAM']

In [524]:
from itertools import groupby
surf_2020 = []
surface_2020 = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    surf_2020.append(str(masked_df.iloc[[0]].Surface))
for s in surf_2020:
    t = s.split('\n')[0]
    res = [''.join(g) for _, g in groupby(t, str.isalpha)]
    surface_2020.append(res[1])
print(len(surface_2020))

256

In [525]:
tems = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    tems.append(str(masked_df.team.unique()))
team1 = []
team2 = []
for t in tems:
    p = t.split("'")
    x = str(p[1])
    y = str(p[3])
    team1.append(x)
    team2.append(y)
print(team2)

['KAN', 'ATL', 'BUF', 'CAR', 'LAC', 'DET', 'JAX', 'GNB', 'TAM', 'MIA', 'LAR', 'BAL', 'ARI', 'PHI', 'DEN', 'PIT', 'CIN', 'CHI', 'MIN', 'ARI', 'DAL', 'GNB', 'BAL', 'MIA', 'NYJ', 'TEN', 'LAR', 'PIT', 'LAC', 'SEA', 'TAM', 'NOR', 'JAX', 'ATL', 'BUF', 'CLE', 'IND', 'ARI', 'DEN', 'MIN', 'NOR', 'NWE', 'NYG', 'PHI', 'PIT', 'LAC', 'SEA', 'KAN', 'NYJ', 'CAR', 'IND', 'CIN', 'DAL', 'DET', 'HOU', 'MIA', 'LVR', 'LAR', 'SFO', 'TAM', 'WAS', 'GNB', 'NWE', 'CHI', 'ATL', 'CLE', 'DAL', 'HOU', 'KAN', 'NYJ', 'PIT', 'BAL', 'SEA', 'MIA', 'LAR', 'LAC', 'TEN', 'CAR', 'IND', 'DET', 'MIA', 'MIN', 'NWE', 'NYG', 'TEN', 'BAL', 'CLE', 'SFO', 'GNB', 'KAN', 'DAL', 'PHI', 'ATL', 'CIN', 'ARI', 'DEN', 'GNB', 'NOR', 'NWE', 'BUF', 'TEN', 'LVR', 'LAC', 'WAS', 'LAR', 'ATL', 'BUF', 'NOR', 'TEN', 'CLE', 'DEN', 'DET', 'GNB', 'KAN', 'LAR', 'PHI', 'PIT', 'SEA', 'NYG', 'SFO', 'ATL', 'BUF', 'IND', 'ARI', 'DAL', 'JAX', 'KAN', 'MIN', 'TEN', 'LAC', 'TAM', 'WAS', 'NWE', 'TEN', 'TAM', 'CLE', 'ARI', 'DET', 'GNB', 'MIA', 'NOR', 'NWE', 'NYG', 'PIT', 'DEN', 'LAR', 'CHI', 'SEA', 'DET', 'CLE', 'IND', 'DEN', 'HOU', 'JAX', 'DAL', 'ATL', 'KAN', 'BAL', 'NYJ', 'CIN', 'TAM', 'DAL', 'DET', 'ATL', 'BUF', 'NYG', 'IND', 'NOR', 'GNB', 'CLE', 'MIN', 'NWE', 'NYJ', 'SFO', 'TAM', 'SEA', 'PIT', 'NOR', 'CHI', 'ARI', 'PHI', 'HOU', 'DEN', 'MIA', 'JAX', 'LVR', 'TEN', 'LAC', 'SEA', 'PIT', 'BUF', 'BAL', 'LAR', 'BUF', 'CAR', 'CHI', 'DAL', 'GNB', 'JAX', 'MIA', 'NYG', 'PHI', 'LVR', 'ATL', 'SEA', 'SFO', 'TAM', 'CLE', 'LVR', 'BUF', 'GNB', 'TAM', 'IND', 'ARI', 'DAL', 'MIA', 'MIN', 'NOR', 'NYG', 'DET', 'LAR', 'JAX', 'WAS', 'CIN', 'NOR', 'ARI', 'DET', 'MIA', 'PHI', 'GNB', 'HOU', 'JAX', 'KAN', 'NYJ', 'IND', 'BAL', 'LAC', 'SEA', 'WAS', 'NWE', 'MIA', 'NOR', 'GNB', 'CIN', 'PIT', 'IND', 'LVR', 'DET', 'HOU', 'KAN', 'NWE', 'NYG', 'PHI', 'LAR', 'SFO', 'TAM']

In [526]:
game_date = []
for s in df_2020.game_id.unique():
    mask = df_2020['game_id'] == s
    masked_df = df_2020[mask]
    print(masked_df.iloc[[0]].game_date)
print(game_date)

6330   2020-09-10
Name: game_date, dtype: datetime64[ns]
6351   2020-09-13
Name: game_date, dtype: datetime64[ns]
6380   2020-09-13
Name: game_date, dtype: datetime64[ns]
6402   2020-09-13
Name: game_date, dtype: datetime64[ns]
6427   2020-09-13
Name: game_date, dtype: datetime64[ns]
6453   2020-09-13
Name: game_date, dtype: datetime64[ns]
6478   2020-09-13
Name: game_date, dtype: datetime64[ns]
6503   2020-09-13
Name: game_date, dtype: datetime64[ns]
6530   2020-09-13
Name: game_date, dtype: datetime64[ns]
6555   2020-09-13
Name: game_date, dtype: datetime64[ns]
6582   2020-09-13
Name: game_date, dtype: datetime64[ns]
6604   2020-09-13
Name: game_date, dtype: datetime64[ns]
6632   2020-09-13
Name: game_date, dtype: datetime64[ns]
6657   2020-09-13
Name: game_date, dtype: datetime64[ns]
6679   2020-09-14
Name: game_date, dtype: datetime64[ns]
6704   2020-09-14
Name: game_date, dtype: datetime64[ns]
6728   2020-09-17
Name: game_date, dtype: datetime64[ns]
6753   2020-09-20
Name: game_date, dtype: datetime64[ns]
6779   2020-09-20
Name: game_date, dtype: datetime64[ns]
6804   2020-09-20
Name: game_date, dtype: datetime64[ns]
6827   2020-09-20
Name: game_date, dtype: datetime64[ns]
6855   2020-09-20
Name: game_date, dtype: datetime64[ns]
6881   2020-09-20
Name: game_date, dtype: datetime64[ns]
6902   2020-09-20
Name: game_date, dtype: datetime64[ns]
6929   2020-09-20
Name: game_date, dtype: datetime64[ns]
6956   2020-09-20
Name: game_date, dtype: datetime64[ns]
6981   2020-09-20
Name: game_date, dtype: datetime64[ns]
7003   2020-09-20
Name: game_date, dtype: datetime64[ns]
7029   2020-09-20
Name: game_date, dtype: datetime64[ns]
7053   2020-09-20
Name: game_date, dtype: datetime64[ns]
7075   2020-09-20
Name: game_date, dtype: datetime64[ns]
7100   2020-09-21
Name: game_date, dtype: datetime64[ns]
7127   2020-09-24
Name: game_date, dtype: datetime64[ns]
7154   2020-09-27
Name: game_date, dtype: datetime64[ns]
7182   2020-09-27
Name: game_date, dtype: datetime64[ns]
7203   2020-09-27
Name: game_date, dtype: datetime64[ns]
7227   2020-09-27
Name: game_date, dtype: datetime64[ns]
7251   2020-09-27
Name: game_date, dtype: datetime64[ns]
7273   2020-09-27
Name: game_date, dtype: datetime64[ns]
7298   2020-09-27
Name: game_date, dtype: datetime64[ns]
7322   2020-09-27
Name: game_date, dtype: datetime64[ns]
7347   2020-09-27
Name: game_date, dtype: datetime64[ns]
7373   2020-09-27
Name: game_date, dtype: datetime64[ns]
7398   2020-09-27
Name: game_date, dtype: datetime64[ns]
7423   2020-09-27
Name: game_date, dtype: datetime64[ns]
7447   2020-09-27
Name: game_date, dtype: datetime64[ns]
7472   2020-09-27
Name: game_date, dtype: datetime64[ns]
7496   2020-09-28
Name: game_date, dtype: datetime64[ns]
7520   2020-10-01
Name: game_date, dtype: datetime64[ns]
7546   2020-10-04
Name: game_date, dtype: datetime64[ns]
7569   2020-10-04
Name: game_date, dtype: datetime64[ns]
7594   2020-10-04
Name: game_date, dtype: datetime64[ns]
7618   2020-10-04
Name: game_date, dtype: datetime64[ns]
7641   2020-10-04
Name: game_date, dtype: datetime64[ns]
7667   2020-10-04
Name: game_date, dtype: datetime64[ns]
7688   2020-10-04
Name: game_date, dtype: datetime64[ns]
7716   2020-10-04
Name: game_date, dtype: datetime64[ns]
7742   2020-10-04
Name: game_date, dtype: datetime64[ns]
7764   2020-10-04
Name: game_date, dtype: datetime64[ns]
7789   2020-10-04
Name: game_date, dtype: datetime64[ns]
7817   2020-10-04
Name: game_date, dtype: datetime64[ns]
7842   2020-10-05
Name: game_date, dtype: datetime64[ns]
7869   2020-10-05
Name: game_date, dtype: datetime64[ns]
7893   2020-10-08
Name: game_date, dtype: datetime64[ns]
7918   2020-10-11
Name: game_date, dtype: datetime64[ns]
7943   2020-10-11
Name: game_date, dtype: datetime64[ns]
7966   2020-10-11
Name: game_date, dtype: datetime64[ns]
7990   2020-10-11
Name: game_date, dtype: datetime64[ns]
8013   2020-10-11
Name: game_date, dtype: datetime64[ns]
8038   2020-10-11
Name: game_date, dtype: datetime64[ns]
8061   2020-10-11
Name: game_date, dtype: datetime64[ns]
8087   2020-10-11
Name: game_date, dtype: datetime64[ns]
8111   2020-10-11
Name: game_date, dtype: datetime64[ns]
8134   2020-10-11
Name: game_date, dtype: datetime64[ns]
8163   2020-10-11
Name: game_date, dtype: datetime64[ns]
8187   2020-10-12
Name: game_date, dtype: datetime64[ns]
8212   2020-10-13
Name: game_date, dtype: datetime64[ns]
8236   2020-10-18
Name: game_date, dtype: datetime64[ns]
8261   2020-10-18
Name: game_date, dtype: datetime64[ns]
8286   2020-10-18
Name: game_date, dtype: datetime64[ns]
8310   2020-10-18
Name: game_date, dtype: datetime64[ns]
8337   2020-10-18
Name: game_date, dtype: datetime64[ns]
8363   2020-10-18
Name: game_date, dtype: datetime64[ns]
8385   2020-10-18
Name: game_date, dtype: datetime64[ns]
8409   2020-10-18
Name: game_date, dtype: datetime64[ns]
8430   2020-10-18
Name: game_date, dtype: datetime64[ns]
8454   2020-10-18
Name: game_date, dtype: datetime64[ns]
8483   2020-10-18
Name: game_date, dtype: datetime64[ns]
8506   2020-10-18
Name: game_date, dtype: datetime64[ns]
8535   2020-10-19
Name: game_date, dtype: datetime64[ns]
8560   2020-10-19
Name: game_date, dtype: datetime64[ns]
8583   2020-10-22
Name: game_date, dtype: datetime64[ns]
8609   2020-10-25
Name: game_date, dtype: datetime64[ns]
8635   2020-10-25
Name: game_date, dtype: datetime64[ns]
8656   2020-10-25
Name: game_date, dtype: datetime64[ns]
8680   2020-10-25
Name: game_date, dtype: datetime64[ns]
8707   2020-10-25
Name: game_date, dtype: datetime64[ns]
8729   2020-10-25
Name: game_date, dtype: datetime64[ns]
8756   2020-10-25
Name: game_date, dtype: datetime64[ns]
8782   2020-10-25
Name: game_date, dtype: datetime64[ns]
8803   2020-10-25
Name: game_date, dtype: datetime64[ns]
8830   2020-10-25
Name: game_date, dtype: datetime64[ns]
8856   2020-10-25
Name: game_date, dtype: datetime64[ns]
8883   2020-10-25
Name: game_date, dtype: datetime64[ns]
8907   2020-10-26
Name: game_date, dtype: datetime64[ns]
8931   2020-10-29
Name: game_date, dtype: datetime64[ns]
8958   2020-11-01
Name: game_date, dtype: datetime64[ns]
8979   2020-11-01
Name: game_date, dtype: datetime64[ns]
9005   2020-11-01
Name: game_date, dtype: datetime64[ns]
9030   2020-11-01
Name: game_date, dtype: datetime64[ns]
9055   2020-11-01
Name: game_date, dtype: datetime64[ns]
9080   2020-11-01
Name: game_date, dtype: datetime64[ns]
9104   2020-11-01
Name: game_date, dtype: datetime64[ns]
9127   2020-11-01
Name: game_date, dtype: datetime64[ns]
9153   2020-11-01
Name: game_date, dtype: datetime64[ns]
9175   2020-11-01
Name: game_date, dtype: datetime64[ns]
9199   2020-11-01
Name: game_date, dtype: datetime64[ns]
9221   2020-11-01
Name: game_date, dtype: datetime64[ns]
9247   2020-11-02
Name: game_date, dtype: datetime64[ns]
9271   2020-11-05
Name: game_date, dtype: datetime64[ns]
9296   2020-11-08
Name: game_date, dtype: datetime64[ns]
9321   2020-11-08
Name: game_date, dtype: datetime64[ns]
9344   2020-11-08
Name: game_date, dtype: datetime64[ns]
9370   2020-11-08
Name: game_date, dtype: datetime64[ns]
9395   2020-11-08
Name: game_date, dtype: datetime64[ns]
9418   2020-11-08
Name: game_date, dtype: datetime64[ns]
9443   2020-11-08
Name: game_date, dtype: datetime64[ns]
9467   2020-11-08
Name: game_date, dtype: datetime64[ns]
9492   2020-11-08
Name: game_date, dtype: datetime64[ns]
9518   2020-11-08
Name: game_date, dtype: datetime64[ns]
9544   2020-11-08
Name: game_date, dtype: datetime64[ns]
9573   2020-11-08
Name: game_date, dtype: datetime64[ns]
9598   2020-11-09
Name: game_date, dtype: datetime64[ns]
9620   2020-11-12
Name: game_date, dtype: datetime64[ns]
9646   2020-11-15
Name: game_date, dtype: datetime64[ns]
9675   2020-11-15
Name: game_date, dtype: datetime64[ns]
9698   2020-11-15
Name: game_date, dtype: datetime64[ns]
9720   2020-11-15
Name: game_date, dtype: datetime64[ns]
9743   2020-11-15
Name: game_date, dtype: datetime64[ns]
9767   2020-11-15
Name: game_date, dtype: datetime64[ns]
9791   2020-11-15
Name: game_date, dtype: datetime64[ns]
9819   2020-11-15
Name: game_date, dtype: datetime64[ns]
9841   2020-11-15
Name: game_date, dtype: datetime64[ns]
9866   2020-11-15
Name: game_date, dtype: datetime64[ns]
9890   2020-11-15
Name: game_date, dtype: datetime64[ns]
9915   2020-11-15
Name: game_date, dtype: datetime64[ns]
9940   2020-11-16
Name: game_date, dtype: datetime64[ns]
9966   2020-11-19
Name: game_date, dtype: datetime64[ns]
9989   2020-11-22
Name: game_date, dtype: datetime64[ns]
10013   2020-11-22
Name: game_date, dtype: datetime64[ns]
10036   2020-11-22
Name: game_date, dtype: datetime64[ns]
10060   2020-11-22
Name: game_date, dtype: datetime64[ns]
10085   2020-11-22
Name: game_date, dtype: datetime64[ns]
10107   2020-11-22
Name: game_date, dtype: datetime64[ns]
10132   2020-11-22
Name: game_date, dtype: datetime64[ns]
10154   2020-11-22
Name: game_date, dtype: datetime64[ns]
10181   2020-11-22
Name: game_date, dtype: datetime64[ns]
10207   2020-11-22
Name: game_date, dtype: datetime64[ns]
10234   2020-11-22
Name: game_date, dtype: datetime64[ns]
10258   2020-11-22
Name: game_date, dtype: datetime64[ns]
10281   2020-11-23
Name: game_date, dtype: datetime64[ns]
10303   2020-11-26
Name: game_date, dtype: datetime64[ns]
10326   2020-11-26
Name: game_date, dtype: datetime64[ns]
10352   2020-11-29
Name: game_date, dtype: datetime64[ns]
10380   2020-11-29
Name: game_date, dtype: datetime64[ns]
10404   2020-11-29
Name: game_date, dtype: datetime64[ns]
10430   2020-11-29
Name: game_date, dtype: datetime64[ns]
10456   2020-11-29
Name: game_date, dtype: datetime64[ns]
10481   2020-11-29
Name: game_date, dtype: datetime64[ns]
10506   2020-11-29
Name: game_date, dtype: datetime64[ns]
10530   2020-11-29
Name: game_date, dtype: datetime64[ns]
10553   2020-11-29
Name: game_date, dtype: datetime64[ns]
10574   2020-11-29
Name: game_date, dtype: datetime64[ns]
10599   2020-11-29
Name: game_date, dtype: datetime64[ns]
10621   2020-11-29
Name: game_date, dtype: datetime64[ns]
10647   2020-11-30
Name: game_date, dtype: datetime64[ns]
10672   2020-12-02
Name: game_date, dtype: datetime64[ns]
10695   2020-12-06
Name: game_date, dtype: datetime64[ns]
10720   2020-12-06
Name: game_date, dtype: datetime64[ns]
10745   2020-12-06
Name: game_date, dtype: datetime64[ns]
10768   2020-12-06
Name: game_date, dtype: datetime64[ns]
10794   2020-12-06
Name: game_date, dtype: datetime64[ns]
10819   2020-12-06
Name: game_date, dtype: datetime64[ns]
10843   2020-12-06
Name: game_date, dtype: datetime64[ns]
10867   2020-12-06
Name: game_date, dtype: datetime64[ns]
10890   2020-12-06
Name: game_date, dtype: datetime64[ns]
10914   2020-12-06
Name: game_date, dtype: datetime64[ns]
10940   2020-12-06
Name: game_date, dtype: datetime64[ns]
10967   2020-12-06
Name: game_date, dtype: datetime64[ns]
10992   2020-12-07
Name: game_date, dtype: datetime64[ns]
11016   2020-12-07
Name: game_date, dtype: datetime64[ns]
11041   2020-12-08
Name: game_date, dtype: datetime64[ns]
11064   2020-12-10
Name: game_date, dtype: datetime64[ns]
11088   2020-12-13
Name: game_date, dtype: datetime64[ns]
11110   2020-12-13
Name: game_date, dtype: datetime64[ns]
11135   2020-12-13
Name: game_date, dtype: datetime64[ns]
11161   2020-12-13
Name: game_date, dtype: datetime64[ns]
11186   2020-12-13
Name: game_date, dtype: datetime64[ns]
11211   2020-12-13
Name: game_date, dtype: datetime64[ns]
11238   2020-12-13
Name: game_date, dtype: datetime64[ns]
11263   2020-12-13
Name: game_date, dtype: datetime64[ns]
11288   2020-12-13
Name: game_date, dtype: datetime64[ns]
11312   2020-12-13
Name: game_date, dtype: datetime64[ns]
11338   2020-12-13
Name: game_date, dtype: datetime64[ns]
11364   2020-12-13
Name: game_date, dtype: datetime64[ns]
11391   2020-12-13
Name: game_date, dtype: datetime64[ns]
11416   2020-12-13
Name: game_date, dtype: datetime64[ns]
11441   2020-12-14
Name: game_date, dtype: datetime64[ns]
11464   2020-12-17
Name: game_date, dtype: datetime64[ns]
11493   2020-12-19
Name: game_date, dtype: datetime64[ns]
11517   2020-12-19
Name: game_date, dtype: datetime64[ns]
11542   2020-12-20
Name: game_date, dtype: datetime64[ns]
11568   2020-12-20
Name: game_date, dtype: datetime64[ns]
11591   2020-12-20
Name: game_date, dtype: datetime64[ns]
11614   2020-12-20
Name: game_date, dtype: datetime64[ns]
11639   2020-12-20
Name: game_date, dtype: datetime64[ns]
11661   2020-12-20
Name: game_date, dtype: datetime64[ns]
11685   2020-12-20
Name: game_date, dtype: datetime64[ns]
11711   2020-12-20
Name: game_date, dtype: datetime64[ns]
11738   2020-12-20
Name: game_date, dtype: datetime64[ns]
11764   2020-12-20

Name: game_date, dtype: datetime64[ns]
11786   2020-12-20
Name: game_date, dtype: datetime64[ns]
11812   2020-12-20
Name: game_date, dtype: datetime64[ns]
11835   2020-12-21
Name: game_date, dtype: datetime64[ns]
11859   2020-12-25
Name: game_date, dtype: datetime64[ns]
11884   2020-12-26
Name: game_date, dtype: datetime64[ns]
11909   2020-12-26
Name: game_date, dtype: datetime64[ns]
11936   2020-12-26
Name: game_date, dtype: datetime64[ns]
11961   2020-12-27
Name: game_date, dtype: datetime64[ns]
11986   2020-12-27
Name: game_date, dtype: datetime64[ns]
12014   2020-12-27
Name: game_date, dtype: datetime64[ns]
12040   2020-12-27
Name: game_date, dtype: datetime64[ns]
12065   2020-12-27
Name: game_date, dtype: datetime64[ns]
12092   2020-12-27
Name: game_date, dtype: datetime64[ns]
12113   2020-12-27
Name: game_date, dtype: datetime64[ns]
12137   2020-12-27
Name: game_date, dtype: datetime64[ns]
12161   2020-12-27
Name: game_date, dtype: datetime64[ns]
12184   2020-12-27
Name: game_date, dtype: datetime64[ns]
12207   2020-12-27
Name: game_date, dtype: datetime64[ns]
12233   2020-12-28
Name: game_date, dtype: datetime64[ns]
12259   2021-01-03
Name: game_date, dtype: datetime64[ns]
12283   2021-01-03
Name: game_date, dtype: datetime64[ns]
12311   2021-01-03
Name: game_date, dtype: datetime64[ns]
12337   2021-01-03
Name: game_date, dtype: datetime64[ns]
12363   2021-01-03
Name: game_date, dtype: datetime64[ns]
12387   2021-01-03
Name: game_date, dtype: datetime64[ns]
12409   2021-01-03
Name: game_date, dtype: datetime64[ns]
12435   2021-01-03
Name: game_date, dtype: datetime64[ns]
12457   2021-01-03
Name: game_date, dtype: datetime64[ns]
12482   2021-01-03
Name: game_date, dtype: datetime64[ns]
12506   2021-01-03
Name: game_date, dtype: datetime64[ns]
12530   2021-01-03
Name: game_date, dtype: datetime64[ns]
12553   2021-01-03
Name: game_date, dtype: datetime64[ns]
12578   2021-01-03
Name: game_date, dtype: datetime64[ns]
12600   2021-01-03
Name: game_date, dtype: datetime64[ns]
12625   2021-01-03
Name: game_date, dtype: datetime64[ns]
[]

In [527]:
newDF = pd.DataFrame()

In [528]:
newDF['team1'] = team1
newDF['team2'] = team2
newDF['Temp'] = temps_2020
newDF['Wind_speed'] = winds_2020
newDF['surface'] = surface_2020
newDF['home_team'] = home_team2020
newDF.head(20)

   team1 team2  Temp  Wind_speed     surface home_team
0    HOU   KAN    56           7   astroturf       KAN
1    SEA   ATL    72           0   fieldturf       ATL
2    NYJ   BUF    67          15   astroturf       BUF
3    LVR   CAR    81           5       grass       CAR
4    CIN   LAC    83           6       grass       CIN
5    CHI   DET    72           0   fieldturf       DET
6    IND   JAX    80           3       grass       JAX
7    MIN   GNB    72           0   sportturf       MIN
8    NOR   TAM    72           0   astroturf       NOR
9    NWE   MIA    70           8       grass       NWE
10   DAL   LAR    72           0  matrixturf       LAR
11   CLE   BAL    76           5       grass       BAL
12   SFO   ARI    72           0       grass       SFO
13   WAS   PHI    76           5       grass       WAS
14   TEN   DEN    79          10       grass       DEN
15   NYG   PIT    71           5   fieldturf       NYG
16   CLE   CIN    65           8       grass       CLE
17   NYG   CHI    66          12       grass       CHI
18   IND   MIN    72           0   fieldturf       IND
19   WAS   ARI    72           0       grass       ARI

In [529]:
newDF['team1_home_A'] = (
    np.where(
    newDF['team1'] == newDF['home_team'], 1,
       0)
)
newDF.drop('home_team', axis = 1, inplace = True)
newDF

    team1 team2  Temp  Wind_speed     surface  team1_home_A
0     HOU   KAN    56           7   astroturf             0
1     SEA   ATL    72           0   fieldturf             0
2     NYJ   BUF    67          15   astroturf             0
3     LVR   CAR    81           5       grass             0
4     CIN   LAC    83           6       grass             1
..    ...   ...   ...         ...         ...           ...
251   DAL   NYG    33           6   fieldturf             0
252   WAS   PHI    38          10       grass             0
253   ARI   LAR    72           0  matrixturf             0
254   SEA   SFO    72           0       grass             0
255   ATL   TAM    65           4       grass             0

[256 rows x 6 columns]

In [530]:
newDF.dtypes

team1           object
team2           object
Temp             int64
Wind_speed       int64
surface         object
team1_home_A     int64
dtype: object

In [531]:
newDF['team2'].unique()

array(['KAN', 'ATL', 'BUF', 'CAR', 'LAC', 'DET', 'JAX', 'GNB', 'TAM',
       'MIA', 'LAR', 'BAL', 'ARI', 'PHI', 'DEN', 'PIT', 'CIN', 'CHI',
       'MIN', 'DAL', 'NYJ', 'TEN', 'SEA', 'NOR', 'CLE', 'IND', 'NWE',
       'NYG', 'HOU', 'LVR', 'SFO', 'WAS'], dtype=object)

In [532]:
newDF['team1'] = newDF['team1'].replace(['HOU', 'SEA', 'NYJ', 'LVR', 'CIN', 'CHI', 'IND', 'MIN', 'NOR',
       'NWE', 'DAL', 'CLE', 'SFO', 'WAS', 'TEN', 'NYG', 'ATL', 'DET',
       'BUF', 'JAX', 'PHI', 'DEN', 'KAN', 'CAR', 'MIA', 'LAR', 'TAM',
       'GNB', 'BAL', 'ARI', 'LAC', 'PIT'], 
        ['HOU', 'SEA', 'NYJ', 'OAK', 'CIN', 'CHI', 'IND', 'MIN', 'NO', 'NE',
       'DAL', 'CLE', 'SF', 'WSH', 'TEN', 'NYG', 'ATL', 'DET', 'BUF', 'JAX',
       'PHI', 'DEN', 'KC', 'CAR', 'MIA', 'LAR', 'TB', 'GB', 'BAL',
       'ARI', 'LAC', 'PIT'])
newDF['team2'] = newDF['team2'].replace(['HOU', 'SEA', 'NYJ', 'LVR', 'CIN', 'CHI', 'IND', 'MIN', 'NOR',
       'NWE', 'DAL', 'CLE', 'SFO', 'WAS', 'TEN', 'NYG', 'ATL', 'DET',
       'BUF', 'JAX', 'PHI', 'DEN', 'KAN', 'CAR', 'MIA', 'LAR', 'TAM',
       'GNB', 'BAL', 'ARI', 'LAC', 'PIT'], 
        ['HOU', 'SEA', 'NYJ', 'OAK', 'CIN', 'CHI', 'IND', 'MIN', 'NO', 'NE',
       'DAL', 'CLE', 'SF', 'WSH', 'TEN', 'NYG', 'ATL', 'DET', 'BUF', 'JAX',
       'PHI', 'DEN', 'KC', 'CAR', 'MIA', 'LAR', 'TB', 'GB', 'BAL',
       'ARI', 'LAC', 'PIT'])

In [533]:
newDF.head(20)

   team1 team2  Temp  Wind_speed     surface  team1_home_A
0    HOU    KC    56           7   astroturf             0
1    SEA   ATL    72           0   fieldturf             0
2    NYJ   BUF    67          15   astroturf             0
3    OAK   CAR    81           5       grass             0
4    CIN   LAC    83           6       grass             1
5    CHI   DET    72           0   fieldturf             0
6    IND   JAX    80           3       grass             0
7    MIN    GB    72           0   sportturf             1
8     NO    TB    72           0   astroturf             1
9     NE   MIA    70           8       grass             1
10   DAL   LAR    72           0  matrixturf             0
11   CLE   BAL    76           5       grass             0
12    SF   ARI    72           0       grass             1
13   WSH   PHI    76           5       grass             1
14   TEN   DEN    79          10       grass             0
15   NYG   PIT    71           5   fieldturf             1
16   CLE   CIN    65           8       grass             1
17   NYG   CHI    66          12       grass             0
18   IND   MIN    72           0   fieldturf             1
19   WSH   ARI    72           0       grass             0

In [534]:
newDF['Game_id'] = newDF['team1'] + newDF['team2'] 
def sorter(ht):
    words = []
    for s in ht:
        words.append(s)
    words.sort()
    words = ''.join(words)
    return words
newDF['Game_id'] = newDF['Game_id'].apply(lambda x:sorter(x))
newDF

    team1 team2  Temp  Wind_speed     surface  team1_home_A Game_id
0     HOU    KC    56           7   astroturf             0   CHKOU
1     SEA   ATL    72           0   fieldturf             0  AAELST
2     NYJ   BUF    67          15   astroturf             0  BFJNUY
3     OAK   CAR    81           5       grass             0  AACKOR
4     CIN   LAC    83           6       grass             1  ACCILN
..    ...   ...   ...         ...         ...           ...     ...
251   DAL   NYG    33           6   fieldturf             0  ADGLNY
252   WSH   PHI    38          10       grass             0  HHIPSW
253   ARI   LAR    72           0  matrixturf             0  AAILRR
254   SEA    SF    72           0       grass             0   AEFSS
255   ATL    TB    65           4       grass             0   ABLTT

[256 rows x 7 columns]

In [535]:
newDF['Game_id'] = newDF.groupby('Game_id').Game_id.apply(lambda n: n + (np.arange(len(n))+1).astype(str))
newDF

    team1 team2  Temp  Wind_speed     surface  team1_home_A  Game_id
0     HOU    KC    56           7   astroturf             0   CHKOU1
1     SEA   ATL    72           0   fieldturf             0  AAELST1
2     NYJ   BUF    67          15   astroturf             0  BFJNUY1
3     OAK   CAR    81           5       grass             0  AACKOR1
4     CIN   LAC    83           6       grass             1  ACCILN1
..    ...   ...   ...         ...         ...           ...      ...
251   DAL   NYG    33           6   fieldturf             0  ADGLNY2
252   WSH   PHI    38          10       grass             0  HHIPSW2
253   ARI   LAR    72           0  matrixturf             0  AAILRR2
254   SEA    SF    72           0       grass             0   AEFSS2
255   ATL    TB    65           4       grass             0   ABLTT2

[256 rows x 7 columns]

In [536]:
dummies = pd.get_dummies(newDF.surface)
newDF = pd.concat([newDF, dummies], axis=1)
newDF = newDF.drop('surface', axis = 1)
newDF

,team1,team2,Temp,Wind_speed,team1_home_A,Game_id,astroturf,fieldturf,grass,matrixturf,sportturf
0,HOU,KC,56,7,0,CHKOU1,1,0,0,0,0
1,SEA,ATL,72,0,0,AAELST1,0,1,0,0,0
2,NYJ,BUF,67,15,0,BFJNUY1,1,0,0,0,0
3,OAK,CAR,81,5,0,AACKOR1,0,0,1,0,0
4,CIN,LAC,83,6,1,ACCILN1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
251,DAL,NYG,33,6,0,ADGLNY2,0,1,0,0,0
252,WSH,PHI,38,10,0,HHIPSW2,0,0,1,0,0
253,ARI,LAR,72,0,0,AAILRR2,0,0,0,1,0
254,SEA,SF,72,0,0,AEFSS2,0,0,1,0,0
255,ATL,TB,65,4,0,ABLTT2,0,0,1,0,0

In [537]:
newDF.to_csv('../DF/nflstats.csv')

In [538]:
temps_2021 = []
for s in df_2021.game_id.unique():
    mask = df_2021['game_id'] == s
    masked_df = df_2021[mask]
    temps_2021.append(int(masked_df.iloc[[0]].Temperature))
print(temps_2021)

[82, 72, 73, 81, 81, 72, 72, 72, 88, 86, 81, 82, 82, 72, 81, 72, 71, 83, 80, 75, 72, 72, 80, 89, 72, 76, 77, 82, 72, 62, 85, 73, 72, 67, 70, 82, 72, 81, 81, 72, 73, 69, 72, 67, 72, 72, 69, 72, 65, 72, 67, 72, 72, 77, 67, 85, 72, 72, 62, 78, 73, 72, 80, 72, 56, 63, 76, 76, 72, 72, 72, 78, 76, 72, 71, 72, 72, 84, 70, 69, 74, 62, 59, 58, 72, 76, 72, 63, 62, 61, 49, 63, 62, 66, 59, 72, 49, 85, 52, 57, 74, 72, 72, 61, 64, 83, 54, 72, 72, 54, 53, 57, 72, 41, 72, 72, 72, 72, 63, 72, 54, 39, 72, 61, 56, 72, 59, 51, 72, 72, 54, 54, 72, 56, 57, 55, 77, 72, 72, 72, 57, 35, 48, 47, 53, 37, 72, 72, 47, 59, 72, 49, 54, 46, 42, 68, 57, 72, 52, 59, 51, 72, 72, 46, 68, 72, 72, 72, 43, 72, 62, 37, 72, 61, 74, 33, 39, 43, 68, 41, 72, 72, 34, 48, 72, 72, 58, 80, 45, 50, 72, 72, 41, 36, 72, 48, 48, 46, 63, 36, 72, 47, 46, 45, 72, 82, 48, 72, 72, 72, 30, 61, 72, 80, 82, 37, 32, 43, 46, 75, 37, 40, 42, 72, 48, 72, 35, 72, 73, 52, 72, 72, 60, 72, 38, 47, 53, 72, 25, 72, 26, 25, 33, 72, 72, 11, 72, 46, 57, 43, 59, 72, 37, 50, 62, 25, 41, 31, 72, 36, 38, 72, 72, 72, 76, 75, 72, 38, 72, 72, 36, 80]

In [539]:
winds_2021 = []
for s in df_2021.game_id.unique():
    mask = df_2021['game_id'] == s
    masked_df = df_2021[mask]
    winds_2021.append(int(masked_df.iloc[[0]].Wind_Speed))
print(len(winds_2021))

272

In [540]:
home_tem2021 = []
home_team2021 = []
for s in df_2021.game_id.unique():
    mask = df_2021['game_id'] == s
    masked_df = df_2021[mask]
    home_tem2021.append(str(masked_df.iloc[[0]].home_team))
for s in home_tem2021:
    t = s.split('\n')[0]
    res = [''.join(g) for _, g in groupby(t, str.isalpha)]
    home_team2021.append(res[1])
print(home_team2021)

['TAM', 'ATL', 'BUF', 'CAR', 'CIN', 'IND', 'DET', 'HOU', 'KAN', 'NOR', 'NWE', 'NYG', 'TEN', 'LAR', 'WAS', 'LVR', 'WAS', 'CAR', 'CHI', 'CLE', 'IND', 'ARI', 'JAX', 'MIA', 'NYJ', 'PHI', 'PIT', 'BAL', 'LAC', 'SEA', 'TAM', 'GNB', 'HOU', 'BUF', 'CLE', 'DEN', 'DET', 'JAX', 'KAN', 'MIN', 'NWE', 'NYG', 'TEN', 'PIT', 'LVR', 'LAR', 'SFO', 'DAL', 'CIN', 'ATL', 'BUF', 'CHI', 'DAL', 'DEN', 'GNB', 'MIA', 'MIN', 'NOR', 'NWE', 'NYJ', 'PHI', 'LAR', 'SFO', 'LAC', 'SEA', 'ATL', 'CAR', 'CIN', 'ARI', 'DAL', 'HOU', 'JAX', 'KAN', 'MIN', 'PIT', 'LVR', 'LAC', 'TAM', 'WAS', 'BAL', 'PHI', 'CAR', 'CHI', 'CLE', 'IND', 'DEN', 'DET', 'JAX', 'NWE', 'NYG', 'PIT', 'BAL', 'WAS', 'TEN', 'CLE', 'ARI', 'GNB', 'MIA', 'NWE', 'NYG', 'TEN', 'LVR', 'LAR', 'BAL', 'SFO', 'TAM', 'SEA', 'ARI', 'ATL', 'BUF', 'CHI', 'CLE', 'IND', 'DEN', 'DET', 'HOU', 'MIN', 'NOR', 'NYJ', 'LAC', 'SEA', 'KAN', 'IND', 'CAR', 'CIN', 'DAL', 'JAX', 'KAN', 'MIA', 'NOR', 'NYG', 'PHI', 'LAR', 'BAL', 'SFO', 'PIT', 'MIA', 'IND', 'ARI', 'DAL', 'DEN', 'GNB', 'NWE', 'NYJ', 'TEN', 'PIT', 'LVR', 'LAC', 'WAS', 'SFO', 'ATL', 'BUF', 'CAR', 'CHI', 'CLE', 'JAX', 'KAN', 'MIN', 'NYJ', 'TEN', 'PHI', 'LVR', 'LAC', 'SEA', 'TAM', 'DAL', 'DET', 'NOR', 'CIN', 'IND', 'DEN', 'GNB', 'HOU', 'JAX', 'MIA', 'NWE', 'NYG', 'BAL', 'SFO', 'WAS', 'NOR', 'ATL', 'CHI', 'CIN', 'DET', 'HOU', 'KAN', 'MIA', 'NYJ', 'PIT', 'LVR', 'LAR', 'SEA', 'BUF', 'MIN', 'CAR', 'CIN', 'CLE', 'DEN', 'GNB', 'HOU', 'KAN', 'NYJ', 'TEN', 'LAC', 'TAM', 'WAS', 'ARI', 'LAC', 'IND', 'BUF', 'DEN', 'DET', 'JAX', 'MIA', 'NYG', 'PIT', 'BAL', 'SFO', 'TAM', 'CHI', 'CLE', 'PHI', 'LAR', 'TEN', 'ARI', 'GNB', 'ATL', 'CAR', 'CIN', 'DAL', 'HOU', 'KAN', 'MIN', 'NWE', 'NYJ', 'PHI', 'LVR', 'SEA', 'NOR', 'BUF', 'CHI', 'CIN', 'IND', 'DAL', 'GNB', 'NOR', 'NWE', 'NYJ', 'TEN', 'BAL', 'LAC', 'SEA', 'SFO', 'WAS', 'PIT', 'DEN', 'PHI', 'ATL', 'BUF', 'CLE', 'ARI', 'DET', 'HOU', 'JAX', 'MIA', 'MIN', 'NYG', 'LVR', 'LAR', 'BAL', 'TAM']

In [541]:
tems_2021 = []
for s in df_2021.game_id.unique():
    mask = df_2021['game_id'] == s
    masked_df = df_2021[mask]
    tems_2021.append(str(masked_df.team.unique()))
team1 = []
team2 = []
for t in tems_2021:
    p = t.split("'")
    x = str(p[1])
    y = str(p[3])
    team1.append(x)
    team2.append(y)
print(team2)

['TAM', 'ATL', 'BUF', 'NYJ', 'CIN', 'IND', 'DET', 'HOU', 'KAN', 'NOR', 'NWE', 'DEN', 'TEN', 'LAR', 'WAS', 'LVR', 'WAS', 'CAR', 'CHI', 'CLE', 'IND', 'ARI', 'DEN', 'MIA', 'NWE', 'SFO', 'LVR', 'BAL', 'LAC', 'TEN', 'TAM', 'GNB', 'HOU', 'BUF', 'CHI', 'DEN', 'DET', 'ARI', 'LAC', 'MIN', 'NWE', 'NYG', 'TEN', 'PIT', 'LVR', 'TAM', 'SFO', 'PHI', 'CIN', 'ATL', 'HOU', 'CHI', 'DAL', 'DEN', 'GNB', 'MIA', 'MIN', 'NYG', 'NWE', 'NYJ', 'PHI', 'LAR', 'SFO', 'LAC', 'SEA', 'ATL', 'PHI', 'CIN', 'ARI', 'DAL', 'HOU', 'JAX', 'KAN', 'MIN', 'PIT', 'LVR', 'LAC', 'TAM', 'WAS', 'BAL', 'TAM', 'MIN', 'CHI', 'CLE', 'IND', 'LVR', 'DET', 'JAX', 'NWE', 'NYG', 'PIT', 'BAL', 'KAN', 'TEN', 'CLE', 'ARI', 'GNB', 'MIA', 'NWE', 'NYG', 'TEN', 'LVR', 'LAR', 'BAL', 'IND', 'TAM', 'SEA', 'ARI', 'ATL', 'BUF', 'CHI', 'CLE', 'IND', 'WAS', 'DET', 'LAR', 'DAL', 'NOR', 'NYJ', 'LAC', 'SEA', 'KAN', 'NYJ', 'CAR', 'CIN', 'DEN', 'JAX', 'KAN', 'HOU', 'NOR', 'NYG', 'PHI', 'LAR', 'MIN', 'SFO', 'PIT', 'BAL', 'IND', 'CAR', 'ATL', 'PHI', 'GNB', 'NWE', 'NYJ', 'TEN', 'PIT', 'LVR', 'LAC', 'TAM', 'LAR', 'ATL', 'IND', 'CAR', 'CHI', 'DET', 'JAX', 'DAL', 'MIN', 'NYJ', 'TEN', 'NOR', 'LVR', 'LAC', 'SEA', 'NYG', 'LVR', 'CHI', 'NOR', 'CIN', 'IND', 'LAC', 'LAR', 'HOU', 'JAX', 'MIA', 'NWE', 'PHI', 'BAL', 'SFO', 'SEA', 'NOR', 'TAM', 'CHI', 'CIN', 'DET', 'IND', 'DEN', 'MIA', 'NYJ', 'PIT', 'LVR', 'LAR', 'SEA', 'BUF', 'MIN', 'CAR', 'CIN', 'CLE', 'DEN', 'CHI', 'HOU', 'KAN', 'NYJ', 'TEN', 'NYG', 'BUF', 'WAS', 'LAR', 'LAC', 'IND', 'BUF', 'CIN', 'DET', 'JAX', 'MIA', 'NYG', 'PIT', 'BAL', 'SFO', 'TAM', 'MIN', 'CLE', 'PHI', 'SEA', 'TEN', 'IND', 'GNB', 'ATL', 'CAR', 'BAL', 'DAL', 'HOU', 'KAN', 'LAR', 'NWE', 'NYJ', 'NYG', 'LVR', 'SEA', 'MIA', 'BUF', 'NYG', 'KAN', 'IND', 'DAL', 'MIN', 'NOR', 'NWE', 'NYJ', 'TEN', 'LAR', 'LAC', 'SEA', 'SFO', 'WAS', 'PIT', 'KAN', 'PHI', 'NOR', 'BUF', 'CLE', 'ARI', 'DET', 'HOU', 'JAX', 'NWE', 'MIN', 'WAS', 'LVR', 'SFO', 'BAL', 'CAR']

In [542]:
from itertools import groupby
surf_2021 = []
surface_2021 = []
for s in df_2021.game_id.unique():
    mask = df_2021['game_id'] == s
    masked_df = df_2021[mask]
    surf_2021.append(str(masked_df.iloc[[0]].Surface))
for s in surf_2021:
    t = s.split('\n')[0]
    res = [''.join(g) for _, g in groupby(t, str.isalpha)]
    surface_2021.append(res[1])
print(len(surface_2021))

272

In [543]:
DF_2021 = pd.DataFrame()

In [544]:
DF_2021['team1'] = team1
DF_2021['team2'] = team2
DF_2021['Temp'] = temps_2021
DF_2021['Wind_speed'] = winds_2021
DF_2021['surface'] = surface_2021
DF_2021['home_team'] = home_team2021
DF_2021.head(20)

   team1 team2  Temp  Wind_speed     surface home_team
0    DAL   TAM    82           9       grass       TAM
1    PHI   ATL    72           0   fieldturf       ATL
2    PIT   BUF    73          17   astroturf       BUF
3    CAR   NYJ    81           0       grass       CAR
4    MIN   CIN    81          15   fieldturf       CIN
5    SEA   IND    72           0   fieldturf       IND
6    SFO   DET    72           0   fieldturf       DET
7    JAX   HOU    72           0   astroturf       HOU
8    CLE   KAN    88           8       grass       KAN
9    GNB   NOR    86           9       grass       NOR
10   MIA   NWE    81          15   fieldturf       NWE
11   NYG   DEN    82          19   fieldturf       NYG
12   ARI   TEN    82           8       grass       TEN
13   CHI   LAR    72           0  matrixturf       LAR
14   LAC   WAS    81           4       grass       WAS
15   BAL   LVR    72           0       grass       LVR
16   NYG   WAS    71           0       grass       WAS
17   NOR   CAR    83           4       grass       CAR
18   CIN   CHI    80           0       grass       CHI
19   HOU   CLE    75          12       grass       CLE

In [545]:
DF_2021['team1_home_A'] = (
    np.where(
    DF_2021['team1'] == DF_2021['home_team'], 1,
       0)
)
DF_2021.drop('home_team', axis = 1, inplace = True)
DF_2021

    team1 team2  Temp  Wind_speed     surface  team1_home_A
0     DAL   TAM    82           9       grass             0
1     PHI   ATL    72           0   fieldturf             0
2     PIT   BUF    73          17   astroturf             0
3     CAR   NYJ    81           0       grass             1
4     MIN   CIN    81          15   fieldturf             0
..    ...   ...   ...         ...         ...           ...
267   NYG   WAS    38           0   fieldturf             1
268   LAC   LVR    72           0       grass             0
269   LAR   SFO    72           0  matrixturf             1
270   PIT   BAL    36           0       grass             0
271   TAM   CAR    80           4       grass             1

[272 rows x 6 columns]

In [546]:
DF_2021.surface.value_counts()

grass         147
fieldturf      67
matrixturf     25
astroturf      18
sportturf      15
Name: surface, dtype: int64

In [547]:
dummies = pd.get_dummies(DF_2021.surface)
DF_2021 = pd.concat([DF_2021, dummies], axis=1)
DF_2021 = DF_2021.drop('surface', axis = 1)
DF_2021

,team1,team2,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,DAL,TAM,82,9,0,0,0,1,0,0
1,PHI,ATL,72,0,0,0,1,0,0,0
2,PIT,BUF,73,17,0,1,0,0,0,0
3,CAR,NYJ,81,0,1,0,0,1,0,0
4,MIN,CIN,81,15,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
267,NYG,WAS,38,0,1,0,1,0,0,0
268,LAC,LVR,72,0,0,0,0,1,0,0
269,LAR,SFO,72,0,1,0,0,0,1,0
270,PIT,BAL,36,0,0,0,0,1,0,0
271,TAM,CAR,80,4,1,0,0,1,0,0

In [548]:
DF_2021['team1'] = DF_2021['team1'].replace(['HOU', 'SEA', 'NYJ', 'LVR', 'CIN', 'CHI', 'IND', 'MIN', 'NOR',
       'NWE', 'DAL', 'CLE', 'SFO', 'WAS', 'TEN', 'NYG', 'ATL', 'DET',
       'BUF', 'JAX', 'PHI', 'DEN', 'KAN', 'CAR', 'MIA', 'LAR', 'TAM',
       'GNB', 'BAL', 'ARI', 'LAC', 'PIT'], 
        ['HOU', 'SEA', 'NYJ', 'OAK', 'CIN', 'CHI', 'IND', 'MIN', 'NO', 'NE',
       'DAL', 'CLE', 'SF', 'WSH', 'TEN', 'NYG', 'ATL', 'DET', 'BUF', 'JAX',
       'PHI', 'DEN', 'KC', 'CAR', 'MIA', 'LAR', 'TB', 'GB', 'BAL',
       'ARI', 'LAC', 'PIT'])
DF_2021['team2'] = DF_2021['team2'].replace(['HOU', 'SEA', 'NYJ', 'LVR', 'CIN', 'CHI', 'IND', 'MIN', 'NOR',
       'NWE', 'DAL', 'CLE', 'SFO', 'WAS', 'TEN', 'NYG', 'ATL', 'DET',
       'BUF', 'JAX', 'PHI', 'DEN', 'KAN', 'CAR', 'MIA', 'LAR', 'TAM',
       'GNB', 'BAL', 'ARI', 'LAC', 'PIT'], 
        ['HOU', 'SEA', 'NYJ', 'OAK', 'CIN', 'CHI', 'IND', 'MIN', 'NO', 'NE',
       'DAL', 'CLE', 'SF', 'WSH', 'TEN', 'NYG', 'ATL', 'DET', 'BUF', 'JAX',
       'PHI', 'DEN', 'KC', 'CAR', 'MIA', 'LAR', 'TB', 'GB', 'BAL',
       'ARI', 'LAC', 'PIT'])

In [549]:
DF_2021['Game_id'] = DF_2021['team1'] + DF_2021['team2'] 
def sorter(ht):
    words = []
    for s in ht:
        words.append(s)
    words.sort()
    words = ''.join(words)
    return words
DF_2021['Game_id'] = DF_2021['Game_id'].apply(lambda x:sorter(x))
DF_2021

,team1,team2,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf,Game_id
0,DAL,TB,82,9,0,0,0,1,0,0,ABDLT
1,PHI,ATL,72,0,0,0,1,0,0,0,AHILPT
2,PIT,BUF,73,17,0,1,0,0,0,0,BFIPTU
3,CAR,NYJ,81,0,1,0,0,1,0,0,ACJNRY
4,MIN,CIN,81,15,0,0,1,0,0,0,CIIMNN
...,...,...,...,...,...,...,...,...,...,...,...
267,NYG,WSH,38,0,1,0,1,0,0,0,GHNSWY
268,LAC,OAK,72,0,0,0,0,1,0,0,AACKLO
269,LAR,SF,72,0,1,0,0,0,1,0,AFLRS
270,PIT,BAL,36,0,0,0,0,1,0,0,ABILPT
271,TB,CAR,80,4,1,0,0,1,0,0,ABCRT

In [550]:
DF_2021['Game_id'] = DF_2021.groupby('Game_id').Game_id.apply(lambda n: n + (np.arange(len(n))+1).astype(str))
DF_2021

,team1,team2,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf,Game_id
0,DAL,TB,82,9,0,0,0,1,0,0,ABDLT1
1,PHI,ATL,72,0,0,0,1,0,0,0,AHILPT1
2,PIT,BUF,73,17,0,1,0,0,0,0,BFIPTU1
3,CAR,NYJ,81,0,1,0,0,1,0,0,ACJNRY1
4,MIN,CIN,81,15,0,0,1,0,0,0,CIIMNN1
...,...,...,...,...,...,...,...,...,...,...,...
267,NYG,WSH,38,0,1,0,1,0,0,0,GHNSWY2
268,LAC,OAK,72,0,0,0,0,1,0,0,AACKLO2
269,LAR,SF,72,0,1,0,0,0,1,0,AFLRS2
270,PIT,BAL,36,0,0,0,0,1,0,0,ABILPT2
271,TB,CAR,80,4,1,0,0,1,0,0,ABCRT2

In [552]:
DF_2021.to_csv('../DF/nflstats_2021.csv')